html, body{
	height: 100%;
}
body{
	overflow-x: hidden;
}

a, a:hover, a:focus{
	color: inherit;
	text-decoration: none;
}
.no-padding{
	padding: 0;
}
.vertical-center{
	height: 100%;
	overflow: hidden;
}
.vertical-center:before{
	content: '';
	width: 1px;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -10px;

}
.vertical-center .vertical-center-content{
	vertical-align: middle;
	display: inline-block;
}
/*
	> Fonts
*/
.playfair-font{
	font-family: 'Playfair Display', serif;
}

button:focus{
	outline: none;
}
.paragraph{
	color: #999999;
	font-size: 14px;
	line-height: 1.8;
}
.black{
	color: #333;
}
.bold{
	font-weight: 600;
}
.italic{
	font-style: italic;
}

.btn{
	font-size: 17px;
	border: 1px solid #333;
	padding: 15px 23px;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
}
.btn:hover{
	background-color: #f9f9f9;
}

.link, .link:hover, .link:focus{
	font-size: 16px;
	text-decoration: underline;
	letter-spacing: 1px;
    font-weight: 700
}

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

.bg-pattern{
	background-image: url('../images/pattern.jpg');
	background-repeat: repeat;
}

/*clickable anchor*/
.clickable-item{
	position: relative;
}
.clickable-anchor{
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
/* Ratio component*/
.ratio-holder{
	position: relative;
	overflow: hidden;
}
.ratio-holder .ratio{
	padding-top: 100%;
}
.ratio-holder .ratio.video-ratio{
	padding-top: 120%;
}
.ratio-holder .ratio.menu-ratio{
	padding-top: 70%;
}
.ratio-holder .ratio.chief-ratio{
	padding-top: 163%;
}
.ratio-holder .ratio.square-ratio{
	padding-top: 100%;
}
.ratio-holder .ratio-content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.ratio-holder .ratio-content img{
	width: 100%;
	min-height: 100%;
}

header{
	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
header.sticky{
	background-color: #fff;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
}
header .logo{
	width: 35px;
	overflow: hidden;
	position: relative;
	display: inline-block;
}
header .logo:before{
	content: '';
	display: block;
	padding-top: 131.4%;
}
header .logo img{
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
header.sticky .logo img{
	top: -100%;
}
header nav{
	float: right;
}
header nav .nav-list{
	margin-top: 17px;
}
header nav .list-item{
	display: inline-block;
	color: #fff;
	margin-left: 40px;
}
header.sticky nav .list-item{
	color: #333;
}
header nav .list-item:first-child{
	margin-left: 0;
}
header nav .list-item a, header nav .list-item a:hover, header nav .list-item a:focus{
	color: inherit;
	text-decoration: none;
}
header nav .list-item:last-child{
	margin-left: 80px;
}
header nav .list-item:last-child .icon{
	margin-left: 5px;
	vertical-align: middle;
	position: relative;
	transition: right 0.4s;
	right: 0;
}

@media(min-width: 768px){
	header nav .nav-list .list-item{
		position: relative;
	}

	header nav .nav-list .list-item:before{
		content: '';
		display: block;
		position: absolute;
		bottom: -8px;
		right: 0;
		left: 0;
		width: 0;
		height: 3px;
		background-color: #fff;
		transition: width 0.4s;
	}
	header.sticky nav .nav-list .list-item:before{
		background-color: #333;
	}

	header nav .nav-list .list-item:hover:before{
		
		width: 100%;
	}
	header nav .nav-list .list-item:hover:last-child .icon{
		right: -5px;
	}
	header nav .nav-btn{
		display: none;
	}
}
/* Mobile Navigation style max-width: 767px */
@media(max-width: 767px){
	header nav:not(.active) .nav-list{
		transition: 0.1s;
		transition-delay: 1.4s;
		margin-right: -200px;
	}
	header nav:not(.active) .nav-list .list-item{
		/*display: none;*/
		right: -200px;
	}
	header nav:not(.active) .nav-btn{
		background-color: transparent;
	}
	header.sticky nav:not(.active) .nav-btn .btn-line{
		background-color: #333;
	}
	header nav .nav-list{
		width: 200px;
		position: absolute;
		top: 100%;
		right: 0;
		margin: 15px 0 0 ;
		padding: 0;
		text-align: center;
	}
	header nav .nav-list .list-item{
		display: block;
		margin-left: 0;
		color: #fff;
		background-color: #333;
		margin-bottom: 10px;
		position: relative;
		right: 0;
		transition: right 0.4s;
	}
	header nav .nav-list .list-item:nth-child(2){
		transition-delay: 0.2s;
	}
	header nav .nav-list .list-item:nth-child(3){
		transition-delay: 0.4s;
	}
	header nav .nav-list .list-item:nth-child(4){
		transition-delay: 0.6s;
	}
	header nav .nav-list .list-item:nth-child(5){
		transition-delay: 1.0s;
	}
	header nav .nav-list .list-item:hover,
	header nav .nav-list .list-item.active{
		background-color: #000;
	}
	header nav .nav-list .list-item a{
		display: block;
		padding: 15px;
		border-bottom: 1px solid #000;
		border-right: 5px solid #252525;
	}
	header nav .nav-btn{
		width: 40px;
		background: none;
		border: none;
		margin-top: 9px;
		padding: 8px 7px;
		background: #333;
		border-radius: 3px;
	}
	header nav .nav-btn .btn-line{
		display: block;
		height: 2px;
		margin-bottom: 6px;
		background-color: #fff;
	}
	header nav .nav-btn .btn-line:last-child{
		margin-bottom: 0;
	}
}



/*
	video component
*/
.video{
	position: relative;
}
.video:before{
	content: '';
	display: block;
	position: absolute;
	bottom: -30px;
	left: -60px;
	width: 100%;
	height: 100%;
	background-image: url('../images/dots.png');
	background-repeat: repeat;
}
.video .video-bg{
	width: 100%;
	min-height: 100%;
}
.video .video-controllers{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,000000+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(229,229,229,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(229,229,229,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(229,229,229,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.video .video-controllers .control{
	background: none;
	border: none;
	color: #fff;
}
.video .video-controllers .control .icon{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 12px;
}
@media(max-width: 767px){
	.video:before{
		bottom: -20px;
		left: -20px;
	}
}

/*
	Card Component
*/
.card{
	background-color: #fff;
}
.card:not(.no-padding){
	padding: 20px;
}
.card .card-image{
	position: relative;
}
.card .card-image.have-price{
	margin-bottom: 60px;
}
.card .card-image .price-holder{
	position: absolute;
	bottom: -40px;
	right: 0;
	left: 0;
	text-align: center;
}
.card .card-image .price-holder .price{
	width: 80px;
	height: 80px;
	display: inline-block;
	background-color: #fff;
	font-size: 35px;
	border-radius: 50%;
	line-height: 80px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.4);
}
.card .card-content.has-arrow{
	position: relative;
}
.card .card-content.has-arrow:before{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	z-index: 1;
}
.card .card-content.has-arrow.arrow-left:before{
	border-right: 15px solid #fff;
	right: 100%;
}
.card .card-content.has-arrow.arrow-right:before{
	border-left: 15px solid #fff;
	left: 100%;
}
.card .card-content.has-arrow.arrow-top:before{
	border-top: none;
	border-bottom: 15px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	left: 50%;
	margin-left: -10px;
	bottom: 100%;
	top: auto;
}
@media(max-width: 400px){
	.card{
		padding: 0;
	}
	.card .card-content{
		padding: 0 10px 15px;
	}
}

/*
	> Slider Component
*/
.slider-container{
	position: relative;
	padding: 0 45px;
}
.slider-container .slider{
	overflow: hidden;
}
.slider-container .slider .slider-banner{
	position: relative;
	left: 0;
	transition: left 0.4s;
}
.slider-container .slider .slider-banner .slider-item{
	float: left;
}
.slider-container .slider-arrows .arrow{
	height: 46px;
	background: none;
	border: none;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	font-size: 46px;
	line-height: 1;
	z-index: 3;
}
.slider-container .slider-arrows .arrow.disabled{
	opacity: 0.4;
	cursor: not-allowed;
}
.slider-container .slider-arrows .arrow.prev{
	left: 0;
}
.slider-container .slider-arrows .arrow.next{
	right: 0;
}

/*
	> Sections
*/
.section{
	height: auto;
	min-height: 100%;
	padding-top: 92px;
}
.section-header .section-title{
	font-size: 45px;
	line-height: 0.9;
	margin-top: 0;

}
.section-header .section-title .small{
	font-size: 12px;
	font-weight: 600;
	display: block;
	letter-spacing: 9px;
	color: #999999;
	margin-bottom: 25px;
}



@media(max-width: 991px){
	.section-header .section-title{
		font-size: 30px;
	}
}
@media(max-width: 767px){
	.section-header{
		text-align: center;
	}
	.section-header .section-title{
		line-height: 1.2;
	}
	.section .section-body{
		text-align: center;
	}
}
@media(max-width: 767px){
	.section-header .section-title{
		font-size: 25px;
	}
}
/*sections responsive style*/
@media(max-width: 767px){
	.section{
		min-height: none;

	}
	.main-section{
		height: 500px;
		min-height: none;
	}
}
/* Main Section */
.main-section{
	height: 100%;
	position: relative;
	background-color: #000;
	padding-top: 200px;
	min-height: 500px;
}
.main-section .bg-image{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	opacity: 0.6;
	overflow: hidden;
}
.main-section .bg-image img{
	width: 100%;
	min-height: 100%;
}
.main-section .section-title{
	font-size: 55px;
	color: #fff;
	text-align: right;
}
.main-section .section-info{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.main-section .section-info .container{
	position: relative;
}
.main-section .section-info .info-image{
	margin-bottom: -100px;
	box-shadow: 2px 12px 40px 0 rgba(0,0,0,0.25);
	border-radius: 50%;
	float: right;
}
.main-section .section-info .information{
	font-size: 12px;
	color: #fff;
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 40px;
}
.main-section .section-info .information .phone-number{
	font-size: 26px;
	margin: 0 0 25px;
}
.main-section .section-info .information .small{
	color: #ccc;
	margin: 0;
}
.main-section .section-info .information .white{
	color: #fff;
}

/* main-section responsive styles*/
@media(max-width: 991px){
	.main-section .section-info .info-image{
		width: 300px;
	}
}
@media(max-width: 550px){
	.main-section .section-title{
		font-size: 45px;
		text-align: center;
		line-height: 1.1;
	}
	.main-section .section-info .information{
		bottom: 20px;
	}
	.main-section .section-info .information .phone-number{
	    margin: 0 0 15px;
	}
}
@media(max-width: 550px){
	.main-section .section-title{
	    font-size: 30px;
	}
}
@media(max-height: 600px) and (min-width: 768px){
	.main-section{
		padding-top: 100px;
	}
	.main-section .section-info .info-image{
		width: 300px;
	}	
}
@media(max-width: 767px){
	.main-section{
		padding-top: 100px;
	}
}


/* story-section*/
.story-section .reservation-btn{
	margin-top: 80px;
}
@media(max-width: 991px){
	.story-section .reservation-btn{
		padding: 12px 20px;
		font-size: 15px;
	}
}

.story-section .author{
	margin-top: 55px;
}

.story-section .video{
	width: 80%;
}
@media(min-width: 768px){
	.story-section{
		padding-top: 180px;
	}
	.story-section .video{
		float: right;
	}
}
@media(max-width: 767px){
	.story-section .video{
		margin: 35px auto;
	}
}


/*menu-section*/
.menu-section .slider-container{
	margin-bottom: 50px;
}
.menu-section .slider-container .slider-item{
	/*width: 360px;*/
}


/*
	testimonials-section
*/
.testimonials-section{
	height: auto;
	min-height: auto;
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/bg-2.jpg');
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
	padding: 90px 15px;
}
.testimonials-section .testimonials-icon{
	font-size: 35px;
	margin-bottom: 50px;
}
.testimonials-section .testimonials-content .paragraph{
	color: #fff;
	font-size: 25px;
	font-weight: 700;
}
.testimonials-section .author{
	font-size: 14px;
	font-weight: 400;
	margin-top: 70px;
}
.testimonials-section .author:before{
	content: '';
	width: 7px;
	height: 1px;
	display: inline-block;
	background-color: #fff;
	vertical-align: middle;
	margin-right: 3px;
}
.testimonials-section .author:after{
	content: '';
	width: 7px;
	height: 1px;
	display: inline-block;
	background-color: #fff;
	vertical-align: middle;
	margin-left: 3px;
}


/*
	chief-testimonials
*/
.chief-testimonials{
	height: auto;
	min-height: auto;
}
.chief-testimonials .chief-image{
	max-width: 350px;
}
.chief-slider{
	padding: 0;
}
.chief-slider .slider-arrows .arrow{
	position: static;
	margin-top: 0;
	font-size: 21px;
}
@media(max-width: 991px){

	.chief-testimonials .section-title, .chief-testimonials .section-body{
		text-align: center;
	}
}


/*
	> news section
*/
.news-section .section-body{
	max-width: 900px;
	padding-bottom: 50px;
}
.event-card{
	background-color: transparent;
}
.event-card .card-content{
	background-color: #fff;
}
.event-card .card-title{
	max-width: 200px;
	font-size: 18px;
	margin: 0 0 30px;
	padding-bottom: 30px;
	position: relative;
}
.event-card .card-title:after{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	border-bottom: 1px dashed #ccc;
	display: block;
}
.event-card .paragraph{
	margin: 0 0 1px;
	font-size: 12px;
}
@media(max-width: 768px){

	.event-card{
		max-width: 450px;
		margin: 0 auto 25px;
		padding: 0 15px;
	}
	.event-card .card-content .ratio{
		display: none;
	}
	.event-card .card-content .ratio-content{
		position: static;
		padding: 15px 0;
	}
	.event-card .card-content.has-arrow.arrow-left:before,
	.event-card .card-content.has-arrow.arrow-right:before{
		border-top: none;
		border-bottom: 15px solid #fff;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		left: 50%;
		margin-left: -10px;
		bottom: 100%;
		top: auto;
	}
}


/*
	> contact us section
*/

.contactus-section .section-body{
	background-color: #fff;
	padding: 50px 45px;
}
.contactus-section .line-bottom{
	position: relative;
}
.contactus-section .line-bottom:before{
	content: '';
	display: block;
	width: 70px;
	border-bottom: 2px solid #333;
	position: absolute;
	left: 0;
	bottom: 0;
}
.contactus-section .country-city{
	font-size: 30px;
	margin: 0 0 10px;
}
.contactus-section .country-city .country{
	color: #ccc;
}
.contactus-section .address{
	margin: 0 0 30px;
}
.contactus-section .call-us .phone-number{
	margin: 0 0 30px;
	font-size: 35px;
}
.contactus-section .service{
	margin-bottom: 40px;
}
.contactus-section .service:last-child{
	margin-bottom: 0;
}
.contactus-section .service .service-title{
	margin-bottom: 8px;
}
.contactus-section .service .paragraph{
	font-size: 13px;
	margin: 0 0 8px;
	line-height: 1;
}
.contactus-section .service .paragraph:last-child{
	margin-bottom: 0;
}
@media(min-width: 768px){
	.contactus-section{
		min-height: auto;
	}
	.contactus-section .section-body{
		margin-bottom: -50px;
		position: relative;
		z-index: 1;
		bottom: -30px;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.contactus-section .call-us .phone-number{
		font-size: 30px;
	}
}
@media(max-width: 767px){
	.contactus-section .section-body{
		text-align: left;
	}
	.contactus-section .line-bottom:before{
		content: none;
		display: none;
	}
}
.map{
	position: relative;
}
.map:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.map iframe{
	width: 100%;
	height: 500px;
}



/*
	> footer
*/

.footer{
	background-color: #131a21;
	text-align: center;
	padding: 50px 20px 30px;
}
.footer .logo{
	width: 35px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
}
.footer .logo:before{
	content: '';
	display: block;
	padding-top: 131.4%;
}
.footer .logo img{
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.footer ul, .footer li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer li{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-synthesis: 14px;
}
.footer li a{
	color: inherit;
	text-decoration: none;
}
.footer li:hover{
	color: #666666;
}
.footer .footer-links{
	margin-bottom: 80px;
}
.footer .footer-links li{
	padding: 0 15px;
	border-right: 1px solid #666666;
}
.footer .footer-links li:first-child{
	padding-left: 0;
}
.footer .footer-links li:last-child{
	padding-right: 0;
	border-right: none;
}
.footer .social-media{
	margin-bottom: 30px;
}
.footer .social-media li{
	margin-right: 15px;
}
.footer .social-media li:last-child{
	margin-right: 0px;
}
.footer .copyrights{
	color: #666666;
	font-synthesis: 12px;
}
@media(max-width: 500px){
	.footer .footer-links li{
		display: block;
		border-right: none;
		padding: 0;
		margin-bottom: 15px;
	}
}