.section.collection-section
	.section-body
		.row.collection-container
			.col-sm-4.col-xs-12.content-col
				.collection-content.text-center
					.content
						h2.title HOME &amp; GARDEN
						.price-holder
							span.price-title
								|Starting at
							.price
								span.new-price
									|$352.00
								span.old-price
									|$452.00
						a(href="#").link Shop Now
			.col-sm-8.col-xs-12.collection-image
				.image-ratio
					.ratio.collection-ratio
					.ratio-inner
						img(src="assets/images/collection/img-1.png", alt="")