.section.newsletter-section
	.section-header
		h2.section-title Newsletter
		p.section-description
			|Enter your email address below to subscribe to my newsletter
	.section-body
		form.newsletter-form
			.form-input.icon-right
				span.icon.fa.fa-envelope-o
				input(type="email" placeholder="Email Address" required)

			.form-input
				input(type="submit" value="Subscribe Now").submit-btn.line