if(smallTheme)
	-var smallThemeClass = 'small-theme'
else
	-var smallThemeClass = ''

.product-card(class=smallThemeClass)
	.card-image
		.image-ratio
			.ratio.cart-item
			.ratio-inner
				img.hover-effect(src="assets/images/products/img-1.jpg" draggable="false" alt="product")
				img.main-img(src="assets/images/products/img-1.jpg" draggable="false" alt="product")

	.card-content
		h3.card-title
			a(href="#") Basket
		.rate
			span.fa.fa-star-o
			span.fa.fa-star-o
			span.fa.fa-star-o
			span.fa.fa-star-o
			span.fa.fa-star-o
		p.price $30.00