.section.testimonials-section
	.section-body
		.testimonials-slider
			.slider-banner
				-for(var i = 0; i <= 3; i++)
					.slider-item
						.testimonials-card
							.user-img.image-ratio
								.ratio
								.ratio-inner
									img(src="assets/images/testimonials/img-1.jpg", alt="user image")
							h4.user-name John Smith #{i}
							h6.user-job-title
								|CEO &amp; Founder
							p.paragraph
								|Adipisci esse nobis alias magnam dolores debitis non odit porro nost.