doctype
html
    head
        include ./partials/head
    body
        include ./partials/header

        .container
            .row
                .col-md-3
                    include ./partials/category-sidebar
                .col-md-9.col-xs-12
                    include ./partials/main-slider

        
        script(src="assets/js/scripts.js")