doctype
html
    head
        include ./partials/head
    body
        include ./partials/header

        .container
            .row
                .col-md-3
                    include ./partials/category-sidebar
        
        script(src="assets/js/scripts.js")