
$textGrayLight: #a4abae;
$textGray: #535360;
$textBlack: #333;
$textBorwn: #DADADA;

$softGray: #363636;
$lightGray: #f4f4f4;
$yellow: #DC9831;
$darkBlue: #262634;
$black: #151515;
$brown: #7E6F5C;
$borwnLight: #AE8C6A;
$bownDark: #908B82;
.black{
    color: $textBlack;
}