input, textarea{
    padding: 10px;
    &:focus{
        outline: none;
    }
}
button{
    border: none;
    padding: 0;
    background: none;
    &:focus{
        outline: none;
    }
}


.form-input{
	margin-bottom: 10px;
	&:last-child{
		margin-bottom: 0;
	}
	input{
		width: 100%;
		border: 1px solid #eee;
		&.submit-btn{
			&.line{
				background-color: transparent;
				border: 1px solid $yellow;
				color: $yellow;
				&:hover{
					color: #fff;
					background-color: $yellow;
				}
			}
		}
	}
	&.icon-right{
		position: relative;
		.icon{
			position: absolute;
			right: 10px;
			top: 12px;
			font-size: 16px;
			z-index: 1;
			color: #333;
		}
	}
}

.footer-newsletter-form{
	
	.form-input{
		&:after{
			content: '';
			clear: both;
			display: table;
		}
		input{
			display: inline-block;
			border: 2px solid #363636;
			float: left;
		}
		.email-input{
			width: 80%;
			background-color: transparent;
			color: #707070;
			border-right: none;
		}
		.submit-btn{
			width: 20%;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
			background-color: #363636;
			color: #D9D9D9;
			&:hover{
				background-color: #2f2f2f;
				border-color: #2f2f2f;
			}
		}	
	}
}