html{
    height: 100%;
}
body{
    min-height: 100%;
    overflow-y: scroll;
    font-family: $mainFont;
    transition: transform 0.4s;
    @media(max-width: 991px){
        &.sidebar-oppend{
            transform: translateX(250px);
            overflow-y: hidden;
        }
    }
}
a{
    &, &:hover, &:focus{
        text-decoration: none;
        color: inherit;
    }
}

ul, ol, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.paragraph{
    font-size: 13px;
    margin-top: 0;
}


// text align
.text-center{
    text-align: center;
}

// table classes
.act-table{
    display: table;
}
.act-table-cell{
    display: table-cell;
}


// vertical-align classes
.vertical-center{
    vertical-align: middle;
}
.vertical-top{
    vertical-align: top;
}

// spaces
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}

.list-style{
    .ls-item{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            border-left: 5px solid $textGray;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            margin-right: 6px;
            opacity: 0.5;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
}


