.main-slider{

	position: relative;
	
	.slider-item{
		.content{
			position: absolute;
			left: 8%;
			top: 30%;
			.title{
				font-size: 26px;
				font-weight: 400;
				font-family: $secondFont;
				margin: 0 0 50px;
			}
			.link{
				color: $brown;
				font-size: 13px;
				font-weight: 500;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	.slider-controllers{
			position: absolute;
			bottom: 30px;
			left: 8%;
	}

	@media(max-width: 767px){
			.slider-item{
					.content{
							top: 20%;
							left: 5%;
							.title{
									margin-bottom: 20px;
							}
					}
			}
			.slider-controllers{
					bottom: 15px;
					left: 5%;
			}
	}

	@media(max-width: 500px){
			.slider-item{
					.content{
							.title{
									margin-bottom: 15px;
									font-size: 18px;
									br{
											display: none;
									}
							}
					}
			}
	}

}