.row-section{
    margin-bottom: 30px;
}
.section{
	margin-bottom: 25px;
	.section-header{
		.section-title{
			font-size: 18px;
			font-weight: 400;
			color: $textBlack;
			margin-top: 0;
			font-family: $secondFont;
		}
		.section-description{
			font-size: 13px;
			color: $textGrayLight;
		}
	}
	
}


// collection section
.collection-section{
	@media(min-width: 768px){
		.collection-container{
			display: flex;
			align-items: stretch;
		}
		.content-col{
			padding-right: 0;
		}
		.collection-content{
			height: 100%;
			&:before{
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
		.collection-image{
			padding-left: 0;
		}
	}
	.collection-content{
		background-color: $bownDark;
		color: $textBorwn;

		padding-top: 15px;
		padding-bottom: 15px;

		.content{
			display: inline-block;
			vertical-align: middle;
			.title{
				font-weight: 500;
				margin-top: 0;
				margin-bottom: 10px;
			}
			.price-holder{
				margin-bottom: 15px;
				.price-title{
					font-size: 13px;
				}
				.new-price{
					font-size: 18px;
					margin-right: 2px;
				}
				.old-price{
					font-size: 13px;
					text-decoration: line-through;
					font-weight: 300;
				}
			}
			.link{
				text-decoration: underline;
			}
		}
	}
}



// best seller section
.best-seller-section{
	@media(min-width: 600px){
		width: 50%;
		float: left;
		&:first-child{
			padding-right: 7px;
		}
		&:last-child{
			padding-left: 7px;
		}
	}
	.product-card{
		margin-bottom: 20px;
		.card-image{
			width: 97px;
			display: inline-block;
			vertical-align: top;
			border: 1px solid #E6E6E6;
		}
		.card-content{
			display: inline-block;
			vertical-align: top;
			padding-top: 5px;
			padding-left: 10px;
			.card-title{
				margin-top: 0;
				margin-bottom: 5px;
			}
			.price{
				color: $textGrayLight;
			}
		}
	}
}