.row-section{
    margin-bottom: 30px;
}
.section{
	.section-header{
		.section-title{
			font-size: 18px;
			font-weight: 400;
			color: $textBlack;
			margin-top: 0;
			font-family: $secondFont;
		}
	}

}